In [1]:
import pandas as pd
import numpy as np

In [2]:
anime = pd.read_csv('anime.csv')

In [3]:
rating = pd.read_csv('rating.csv')

In [4]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [6]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [7]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB

In [8]:
anime.drop('rating',axis=1,inplace=True)

In [9]:
anime_rating = anime.merge(rating,on='anime_id')#joining table on anime_id column
anime_rating

,anime_id,name,genre,type,episodes,members,user_id,rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,278,-1
...,...,...,...,...,...,...,...,...
7813722,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,39532,-1
7813723,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,48766,-1
7813724,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,60365,4
7813725,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,142,27364,-1
7813726,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,142,48766,-1

In [10]:
weebs = anime_rating.groupby('user_id').count()['rating'].reset_index()
weebs

       user_id  rating
0            1     153
1            2       3
2            3      94
3            4      52
4            5     467
...        ...     ...
73510    73512      13
73511    73513      33
73512    73514       1
73513    73515     196
73514    73516       2

[73515 rows x 2 columns]

In [11]:
weebs = weebs[weebs['rating']>200]['user_id']
weebs

4            5
6            7
16          17
37          38
42          43
         ...
73489    73491
73497    73499
73500    73502
73501    73503
73505    73507
Name: user_id, Length: 11193, dtype: int64

In [15]:
weebs = anime_rating[anime_rating['user_id'].isin(weebs)]
weebs

,anime_id,name,genre,type,episodes,members,user_id,rating
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,271,10
7,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,462,8
11,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,598,10
13,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,684,-1
...,...,...,...,...,...,...,...,...
7813722,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,39532,-1
7813723,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,48766,-1
7813724,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,60365,4
7813725,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,142,27364,-1
7813726,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,142,48766,-1

In [26]:
weebs.drop_duplicates()

,anime_id,name,genre,type,episodes,members,user_id,rating
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,271,10
7,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,462,8
11,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,598,10
13,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,684,-1
...,...,...,...,...,...,...,...,...
7813722,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,39532,-1
7813723,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,48766,-1
7813724,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,60365,4
7813725,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,142,27364,-1
7813726,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,142,48766,-1

In [27]:
pt = weebs.pivot_table(index='name',columns='user_id',values='rating')
pt

user_id,5,7,17,38,43,46,54,123,129,139,...,73460,73462,73476,73477,73485,73491,73499,73502,73503,73507
name,,,,,,,,,,,,,,,,,,,,,
&quot;0&quot;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
&quot;Bungaku Shoujo&quot; Memoire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
&quot;Bungaku Shoujo&quot; Movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xxxHOLiC Kei,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,NaN,NaN,8.0,NaN,NaN,10.0,8.0,9.0
xxxHOLiC Movie: Manatsu no Yoru no Yume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,NaN,8.0,NaN,NaN,10.0,NaN,9.0
xxxHOLiC Rou,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN
xxxHOLiC Shunmuki,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,10.0,8.0,9.0
◯,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
pt.fillna(0,inplace=True)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
similarity = cosine_similarity(pt)

In [31]:
similarity

array([[1.        , 0.05089866, 0.03295937, ..., 0.03669407, 0.03471017,
        0.08283589],
       [0.05089866, 1.        , 0.00594082, ..., 0.00409616, 0.00376766,
        0.        ],
       [0.03295937, 0.00594082, 1.        , ..., 0.17345651, 0.19253838,
        0.00552485],
       ...,
       [0.03669407, 0.00409616, 0.17345651, ..., 1.        , 0.81385615,
        0.02666546],
       [0.03471017, 0.00376766, 0.19253838, ..., 0.81385615, 1.        ,
        0.02452698],
       [0.08283589, 0.        , 0.00552485, ..., 0.02666546, 0.02452698,
        1.        ]])

In [32]:
def recommend(anime_name):
    index = np.where(pt.index==anime_name)[0][0]
    similar_anime = sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse = True)[1:6]
    for i in similar_anime:
        print(pt.index[i[0]])

In [34]:
recommend('Death Note')

Code Geass: Hangyaku no Lelouch
Code Geass: Hangyaku no Lelouch R2
Elfen Lied
Fullmetal Alchemist: Brotherhood
Shingeki no Kyojin