In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating 
rating = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [3]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 50
page_size = 100

for i in range(1, pages + 1):

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    
    #reviews
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
        
    #Dates
    for item in parsed_content.find_all("time"):
        date.append(item.text)
        
    #Ratings
    for item in parsed_content.find_all("div", class_ = "rating-10"):
        try:
            rating.append(item.span.text)
        except:
            print(f"Error on page {i}")
            rating.append("None")
    
    #country
    for item in parsed_content.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 31
Error on page 32
Error on page 32
Error on page 35
Error on page 35

# Lets's check size of collected data

In [4]:
len(rating)

3657

Their are 50 extra rating

In [5]:
len(reviews)

3607

In [6]:
len(date)

3607

In [7]:
len(country)

3607

In [9]:
#removing all the extra ratings
for i in range(50):
    rating.remove('\n\t\t\t\t\t\t\t\t\t\t\t\t\t5')

In [10]:
len(rating)

3607

In [14]:
df = pd.DataFrame({'date':date,'reviews':reviews,'u_rating':rating,'country':country})

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3607 entries, 0 to 3606
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3607 non-null   object
 1   reviews   3607 non-null   object
 2   u_rating  3602 non-null   object
 3   country   3607 non-null   object
dtypes: object(4)
memory usage: 112.8+ KB

In [18]:
df.head()

,date,reviews,u_rating,country
0,21st July 2023,✅ Trip Verified | A simple story with an unfor...,1,Germany
1,21st July 2023,✅ Trip Verified | Flight was delayed due to t...,4,United Kingdom
2,20th July 2023,Not Verified | Fast and friendly check in (to...,8,United Kingdom
3,20th July 2023,✅ Trip Verified | I don't understand why Brit...,2,United Kingdom
4,20th July 2023,Not Verified | I'm sure that BA have graduall...,2,United Kingdom

In [19]:
df.to_csv('British_airways_reviews.csv')