In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('British_airways_reviews.csv')

In [3]:
#creating copy of collected data
data = df.copy()

# Cleaning/Fromat date

In [4]:
# converting the date to datetime format
data['date'] = pd.to_datetime(df['date'])

In [5]:
data['date'].head()

0   2023-07-21
1   2023-07-21
2   2023-07-20
3   2023-07-20
4   2023-07-20
Name: date, dtype: datetime64[ns]

# Cleaning Reviews

In [6]:
import string
import nltk

from nltk.tokenize import word_tokenize
nltk.download('punkt')

from nltk.corpus import stopwords
nltk.download('stopwords')

from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

# function which remove punctuations, small case it, peform tokenization and lemmatization and join it.
def cleaning(sent):
    sent = sent.strip('✅ Trip Verified |')
    sent = sent.strip('Not Verified |')
    sent = sent.lower()
    exclude = string.punctuation
    sent = sent.translate(str.maketrans('','',exclude))
    tkns = [i for i in word_tokenize(sent)]
    std = stopwords.words('english')
    stwd = [i for i in tkns if i not in std]
    lemma = WordNetLemmatizer()
    ftkns = [lemma.lemmatize(i) for i in stwd]
    return ' '.join(ftkns)

# adding new column for cleaned reviews
df['c_reviews'] = df['reviews'].apply(cleaning)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [7]:
df.head()

,Unnamed: 0,date,reviews,u_rating,country,c_reviews
0,0,21st July 2023,✅ Trip Verified | A simple story with an unfor...,1.0,Germany,simple story unfortunate outcome really could ...
1,1,21st July 2023,✅ Trip Verified | Flight was delayed due to t...,4.0,United Kingdom,flight delayed due inbound flight arriving lat...
2,2,20th July 2023,Not Verified | Fast and friendly check in (to...,8.0,United Kingdom,fast friendly check total contrast gatwick con...
3,3,20th July 2023,✅ Trip Verified | I don't understand why Brit...,2.0,United Kingdom,dont understand british airway classified 4 st...
4,4,20th July 2023,Not Verified | I'm sure that BA have graduall...,2.0,United Kingdom,im sure ba gradually made economy experience b...

# checking for null values

In [8]:
df.isnull().sum()

Unnamed: 0    0
date          0
reviews       0
u_rating      5
country       2
c_reviews     0
dtype: int64

In [9]:
#dropping null values
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

Unnamed: 0    0
date          0
reviews       0
u_rating      0
country       0
c_reviews     0
dtype: int64

In [ ]:
df.to_csv('')